<section class="gallery" id="projects">
    <div class="row">

        {{ range .Site.RegularPages.Reverse }}
        {{ if eq .Type "gallery" }}
        {{ $galleryTotal := sub (len (where .Site.Pages "Section" "gallery")) 1 }}
        <div class='col-xs-12 col-md-6 col-lg-4' {{ if .Params.color }}style="background-color:{{ .Params.color }}"{{ end }}>
            <span class="img-helper"></span><img src="/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
            <div class="row middle-xs center-xs overlay">
                <div class="col-xs-11 center-xs">
                    <h2>{{ .Title }}</h2>
                    <div class="row middle-xs center-xs">
                        {{ if .Params.link1 }}<div class="col-xs-3 col-md-4"><a href="{{ .Params.link1 }}" target="_blank"><h3>{{ if .Params.link1text }}{{ .Params.link1text }}{{ else }}View{{ end }}</h3></a></div>{{ end }}
                        {{ if and .Params.link1 .Params.link2 }}<div class="col-xs-2 col-md-1 col-lg-0"></div>{{ end }}
                        {{ if .Params.link2 }}<div class="col-xs-3 col-md-4"><a href="{{ .Params.link2 }}" target="_blank"><h3>{{ if .Params.link2text }}{{ .Params.link2text }}{{ else }}Code{{ end }}</h3></a></div>{{ end }}
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
        {{ end }}

    </div>
</section>
