<section class="gallery" id="poems">
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-12"><h1>Poems</h1></div>
        </div>
        <div class="row">
        {{ range .Site.Pages }}
        {{ if eq .Type "poem" }}
        {{ $galleryTotal := sub (len (where .Site.Pages "Section" "poem")) 1 }}
        <div class='col-xs-12 col-md-6 col-lg-4'>
            <span class="img-helper"></span><img src="/images/poem/{{ .File.BaseFileName }}.jpg" alt="{{ .Title }}" style="padding: 1rem">
            <div class="row middle-xs center-xs overlay">
                <div class="col-xs-11 center-xs">
                    {{ .Content }}
                    <p><i style="color: #bbb">{{ .Date.Format "01/02/06" }}</i></p>
                </div>
            </div>
        </div>
        {{ end }}
        {{ end }}

        </div>
    </div>
</section>
